*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    max-width: 1020px;
    margin:0 auto ;
}

main{
    margin: 0 auto;
    display: grid;
    place-items: center;
}
h1{
    margin: 2em;
}
#contener{
    display: flex;
    justify-content:center;
    place-items: center;
    width: 45vw;
    height: 56vh;
    background-color: black;
    box-shadow: 2px 2px 2px rgb(65, 64, 64);

}
.form_contener{
    display: flex;
    flex-direction: column;
    padding-right: 2em;
    color: rgb(249, 242, 242);
}
.none{
    display: none;
}

label{
    margin-top:1em ;
}

input{
    outline: none;
    height: 16px;
    background-color:transparent;
    color: aliceblue;
    border: none;
    border-bottom: 1px solid white;
    
}
/* button submit */
.btn__submit{
    width: 6em;
    margin: 0 auto;
    border-radius: 8px;
    margin-top: 1.5em;
    padding:.5em;
    cursor: pointer;
}
.btn__submit:hover{
    transform: translateY(3px);
    box-shadow:0 2px 2px 2px rgb(119, 186, 241) ;
}

/* content */
.content{
    padding-left: 2em;
    color: rgb(237, 244, 250);
}

.content ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}

li{
    margin: 1.2em;
}

/* test */
.content__zones{
    
    width: 50vw;
    height: 50vh;
    color: rgb(5, 5, 4);
}
.form-add{
    background-color: black;
    margin: 3em;
    padding: 2em;
    width: 50vw;
    height: 70vh;
}
