<%- include('../includes/head') %>

 <!-- form -->
 <form class="form_contener form-add" action="/add" method="post">
             
     <h3>Form toevoegen</h3>

    
        <label for="smartzonezoneId">Smartzone</label>
        <input type="number" name="smartzoneId" id="smartzoneId">
    
    
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
    

    
        <label for="town">Stad</label>
        <input type="text" name="town" id="town">


        
        <label for="location">Locatie</label>
        <input type="text"  name="location" id="location">


       
            <label for="function">Functie</label>
            <input type="text" name="function" id="function">
        
    
                <label for="time">Tijd</label>
                <input type="text" name="time" id="time">

            

                <label for="size">Size</label>
                <input type="text" name="size" id="size">


                <label for="utilization">utilization</label>
                <input type="text" name="utilization" id="utilization">

                <label for="description">Omschrijven</label>
                <input type="text" name="description" id="description">

                <label for="image">Image</label>
                <input type="text" name="image" id="image">

               


        <button class="btn__submit" type="submit" value="submit">Submit</button>


    
    

</form>

</main>

</body>
</html>