<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <!-- <script defer src="./rendercliente.js"></script> -->
    <script defer src="./addcliente.js"></script>
    <title>PE curd form</title>
</head>
<body>
    <main>
        <!-- loading state -->
        <div class="spinner-wrapper">
            <section class="loding_spinner">
            </section>
        </div>
